{% extends 'base.html' %}
{% block title %}Reclaimer{% endblock %}
{% block content %}
    <div class="page-header">
        {% if hot_deals %}
            <h1>Offers for {{ persons }}</h1>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>City</th>
                  <th>Country</th>
                  <th>Hotel</th>
                  <th>Plane</th>
                  <th>Overall Cost</th>
                </tr>
              </thead>
              <tbody>
              {% for hot_deal in hot_deals %}
                <tr>
                  <td>{{ hot_deal.location_data.location_seed.city_name }}</td>
                  <td>{{ hot_deal.location_data.location_seed.country_name }}</td>
                  <td>{{ hot_deal.hotel.name }}</td>
                  <td><a href="{{ hot_deal.flight.site }}">Flight</a></td>
                  <td>{{ hot_deal.ranking * persons}} $</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
            <h1>Travel</h1>
            <p class="lead">Enter your information below</p>
            <form class="form-inline" method="POST">
                {{ wandering_form.csrf_token }}
                <div class="form-group {% if wandering_form.person_number.errors %}has-error{% endif %}">
                    {{ wandering_form.person_number.label(class='sr-only') }}
                    {{ wandering_form.person_number(class='form-control', placeholder=wandering_form.person_number.description) }}
                    {% for error in wandering_form.person_number.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="form-group {% if wandering_form.budget_available.errors %}has-error{% endif %}">
                    {{ wandering_form.budget_available.label(class='sr-only') }}
                    {{ wandering_form.budget_available(class='form-control', placeholder=wandering_form.budget_available.description) }}
                    {% for error in wandering_form.budget_available.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary" style="vertical-align: top;">Wander</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
