{% extends 'base.html' %}
{% block title %}Reclaimer{% endblock %}
{% block content %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 wandering">
        <div class="page-header">
            <h1>Wandering</h1>
            <p class="lead">Enter your information below</p>
            <form class="form-inline" method="POST">
                {{ wandering_form.csrf_token }}
                <div class="form-group {% if wandering_form.person_number.errors %}has-error{% endif %}">
                    {{ wandering_form.person_number.label(class='sr-only') }}
                    {{ wandering_form.person_number(class='form-control', placeholder=wandering_form.person_number.description) }}
                    {% for error in wandering_form.person_number.errors %}
                        <p class="wandering-invalid">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="form-group {% if wandering_form.budget_available.errors %}has-error{% endif %}">
                    {{ wandering_form.budget_available.label(class='sr-only') }}
                    {{ wandering_form.budget_available(class='form-control', placeholder=wandering_form.budget_available.description) }}
                    {% for error in wandering_form.budget_available.errors %}
                        <p class="wandering-invalid">{{ error }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary" style="vertical-align: top;">Wander</button>
            </form>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 aware">
        <div class="page-header">
            <h1>Wandering</h1>
            <p class="lead">Enter your name below and witness the magic</p>
            <form class="form-inline" method="POST">
                {{ wandering_form.csrf_token }}
                <div class="form-group {% if wandering_form.person_number.errors %}has-error{% endif %}">
                    {{ wandering_form.person_number.label(class='sr-only') }}
                    {{ wandering_form.person_number(class='form-control', placeholder=wandering_form.person_number.description) }}
                    {% for error in wandering_form.person_number.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary" style="vertical-align: top;">Wander</button>
            </form>
        </div>
    </div>
{% endblock %}
